@import "tailwindcss";

@theme {
  --color-tec-blue: #00529b;
  --color-dark-bg: #0a0a0a;
  --color-card-bg: #161616;
  --color-accent-purple: #8b5cf6;

  --shadow-glass: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

:root {
  background-color: var(--color-dark-bg);
  color: white;
}

/* Scrollbar personalizada para que se vea pro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark-bg);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
